<title>Fail Usuario</title>

<div class="container bg-warning bg-opacity-50 mt-3t border border-3 p-3">
    <div>
        <h1 class="text-center m-5 text-secondary">USER ERROR <span
                class="text-danger border-bottom border-danger">SIGNUP</span></h1>
        <div class="text-center m-5 pt-5">
            <p class="fs-3 text-primary">Error en datos</p>
            {{#if error}}
            <p class="fs-4 ">{{error}}</p>
            {{/if}}
            <button class="btn btn-danger" onclick="window.location='/signup';">VOLVER</button>
        </div>
    </div>
</div>