<title>Fail Login User</title>

<div class="container bg-warning bg-opacity-50 mt-3t border border-3 p-3">
    <div>
        <h1 class="text-center m-5 text-secondary">USER ERROR <span
                class="text-danger border-bottom border-danger">LOGIN</span></h1>
        <div class="text-center m-5 pt-5">
            <p class="fs-4">Error en datos ingresados</p>
            {{#if error}}
            <p class="fs-4 ">{{error}}</p>
            {{/if }}

            <button class="btn btn-danger" onclick="window.location='/login';">VOLVER</button>
        </div>
    </div>
</div>