<title>{{title}}</title>

<div class="container mt-3 bg-light border border-3 p-3">
    <div>
        <h2 class="text-primary">Login de Usuario</h2>
        <br>
        <form action="/login" enctype="application/x-www-form-urlencoded" method="post" id="formLogin"
            autocomplete="off">
            <div class="form-group">
                <label for="email" class="fs-5 fw-semibold fst-italic">Ingrese su email</label>
                <input id="email" class="form-control" type="email" name="email" required>
                <label for="password" class="fs-5 fw-semibold fst-italic mt-4">Ingrese su contraseña</label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-success mt-3" id="btnLogin" type="submit">Enviar</button>
        </form>
        <hr>
        <button class="btn btn-outline-warning border border-3 border-warning"
            onclick="window.location='/signup';">Signup</button>
    </div>
</div>

<script src="../js/login.js"></script>