    <div class="d-flex align-items-center p-2">
        <img src="../assets/img/users/carrito.png" width="40px">
        <div id="items-cart" class="fw-bold fs-5"><span class="spinner-border spinner-border-sm"></span></div>
    </div>

    <script src="../../js/cartWidget.js"></script>